.sm-body{
  animation: black-to-white 0.8s infinite;
}


h1{

  position: fixed;
  top: 20px;
  left: 450px;
  font-size: 100px;
  font-family: lemon milk;


}
h2{
  animation: white-to-black 0.4s infinite;
  position: fixed;
  left: 450px;
  top: 250px;
  font-size: 100px;
  font-family: lemon milk;


}
h3{
  animation: white-to-black 0.4s infinite;
  position: fixed;
  left: 450px;
  top: 480px;
  font-size: 100px;
  font-family: lemon milk;

}

@keyframes white-to-black {
  0%   {
    background-color: white;
  }
  1%{
    background-color: white;
  }
  50%{
    background-color: black;
  }
  99%{
    background-color: black;
  }
  100%{
    background-color:white;
  }
}
@keyframes black-to-white {
  0%   {
    background-color: black;
  }
  49%{
    background-color: black;
  }
  50%{
    background-color: white;
  }
  99%{
    background-color: white;
  }
  100%{
    background-color:black;
  }
}
